.Curso {
    margin: 12px 0;
    position: relative;
}
.Curso_datos {
    border-radius: 32px;
    box-shadow: 2.5px 2.5px 5px 1px;
    padding: 12px 4px;
}
.Curso h5 {
    margin: 0;
    font-size: 12px;
}
.Curso h4 {
    margin: 8px;
    font-size: 13px;
}
.Curso_credReq {
    position: absolute;
    top: -8px;
    right: -9px;
    padding: 3px 6px;
    border-radius: 50px;
    font-size: 12px;
}
.Curso_esElectivo {
    position: absolute;
    top:0;
    width: fit-content;
    left: 0;
}
.Curso_esElectivo_E {
    padding: 2px 8px;
    font-weight: bold;
    position: absolute;
    border-radius: 50%;
    top: -10px;
    left: -8px;
    background: white;
}